.expense {
  float: left;
  width: 100%;
}
.expense-card {
  float: left;
  width: 18%;
  margin: 50px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}
.expense-left {
  float: left;
  width: 20%;
  text-align: center;
}
.icon {
  font-size: 30px;
  border: 3px solid green;
  color: green;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
}
.expense-right h5 {
  font-size: medium;
  font-weight: 700;
}
.expense-right h6 {
  color: rgb(150, 148, 148);
  font-weight: 400;
}
