.expense {
  float: left;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: green;
}
.expense-card {
  float: left;

  width: 25%;
  margin: 50px 10px;
  border: none;
  border-radius: 5px;
  padding: 20px;
}
.expense-left {
  float: left;
  width: 20%;
  text-align: left;
}
.icon {
  font-size: 30px;
  border: 3px solid white;
  color: white;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
}
.expense-right h5 {
  font-size: medium;
  font-weight: 700;
  color: white;
  text-align: left;
}
.expense-right h6 {
  color: white;
  font-weight: 400;
  text-align: left;
}
