.productDiscount {
  width: 100%;
}

.main-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: lightgrey;
  gap: 20px;
}

.row1 {
  float: left;
  width: 30%;
  margin: 10px;
}
.row2 {
  float: left;
  width: 30%;
  margin: 10px;
}
.row3 {
  float: left;
  width: 30%;
  margin: 10px;
}
.card-discount {
  position: relative;
  margin: 20px 0;
  float: left;
  width: 100%;
  height: 30vh;
}
.card-discount img {
  width: 100%;
}
.card-discount .carddiscount-body {
  position: absolute;
  top: 0;
  padding: 10px;
}
.discounts-card {
  float: left;
  width: 100%;

  height: 30vh;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(11, 12, 12, 0.1);
  margin: 20px auto;
  background-color: white;
}
.discount-cardleft {
  float: left;
  width: 40%;
}

.discount-cardright {
  float: right;
  width: 60%;
}

.discounts-card img {
  width: 100%;
  transition: transform 0.3s ease;
  margin: 10px;
  border: 2px solid rgb(167, 163, 163);
  border-radius: 10px;
}
.discounts-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.discountcard-body {
  float: right;
  padding: 20px;
}
.discounts-card h3 {
  font-size: medium;
  font-weight: 700;
  text-align: left;
  padding: 2px;
}
.discounts-card h6 {
  font-size: 15px;
  text-align: left;
}
.discounts-card p {
  color: rgb(134, 36, 36);
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
.discounts-card button {
  float: right;
  border-radius: 5px;
  border: 2px solid green;
  color: white;
  background-color: green;
}
.discounts-card button:hover {
  background-color: white;
  color: green;
}
