.productDiscount {
  width: 100%;
  padding: 20px;
}

.main-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: lightgray;
  gap: 20px;
}

.row1 {
  float: left;
  width: 30%;
  margin: 10px;
}
.row2 {
  float: left;
  width: 30%;
  margin: 10px;
}
.row3 {
  float: left;
  width: 30%;
  margin: 10px;
}
.card-discount {
  position: relative;
  margin: 10px 0;
  float: left;
  width: 100%;
}
.card-discount img {
  width: 100%;
}
.card-discount .carddiscount-body {
  position: absolute;
  top: 0;
}

.discount-cardleft {
  float: left;
  width: 50%;
}

.discount-cardright {
  float: right;
  width: 50%;
}

.discounts-card {
  float: left;
  width: 100%;
  max-width: 80%;
  height: 30vh;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(20, 139, 219, 0.1);
  margin: 12px auto;
  padding: 10px;
}

.discounts-card img {
  width: 100%;
  float: left;
  transition: transform 0.3s ease;
  padding: 20px;
  border: 2px solid rgb(152, 144, 144);
  border-radius: 10px;
}
.discounts-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.discountcard-body {
  float: right;
}
.discounts-card h3 {
  font-size: medium;
  font-weight: 700;
  text-align: left;
  padding: 2px;
}
.discounts-card h6 {
  font-size: 15px;
  text-align: left;
}
.discounst-card p {
  color: rgb(134, 36, 36);
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
.discounts-card button {
  float: right;
  border-radius: 5px;
  border: 2px solid green;
  padding: 5px;
  color: green;
  background-color: white;
}
