.product-list-page {
  float: left;
  width: 100%;
  overflow: hidden;
  background-color: rgb(232, 229, 229);
  padding: 10px;
}

.product-card {
  float: left;
  width: 15%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px black !important;
  margin: 12px;
  padding: 10px;
  background-color: white !important;
}

.product-card img {
  width: 100%;
  transition: transform 0.3s ease;
  padding: 20px;
  border: 1px solid rgb(198, 194, 194);
  border-radius: 10px;
}
.product-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.product-card h3 {
  font-size: medium;
  font-weight: 700;
  text-align: left;
  padding: 2px;
}
.product-card h6 {
  font-size: 15px;
  text-align: left;
}
.product-card p {
  color: rgb(134, 36, 36);
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
.product-card button {
  float: right;
  border-radius: 5px;
  border: 2px solid green;
  padding: 5px;
  color: green;
  background-color: white;
}
.product-card button:hover {
  background-color: green;
  color: white;
}
